@import './base/base';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: $main-font;
  font-size: 15px;
  line-height: 25px;
  min-height: 100vh;
  padding: 30px 25px 80px 25px;

  &.--light {
    background: $background-light;
    color: $clr-font-blue;
  }

  &.--dark {
    background: $background-dark;

    & h1,
    h4,
    input::placeholder {
      color: $background-light;
    }
  }
}

.content {
  @media (min-width: $breakpoint-tablet) {
    margin: auto;
    max-width: 575px;
  }

  @media (min-width: $breakpoint-laptop) {
    margin: auto;
    max-width: 730px;
  }
}

h1 {
  color: $ebony-clay;
  font-size: 26px;
  font-weight: bold;
  line-height: 38px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-size: 13px;
  line-height: 20px;
}
