@import '../../styles/base/base';

$_azure-radiance-hover: #60abff;

.search-form {
  align-items: center;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  display: flex;
  margin-top: 36px;
  padding: 8px;

  &.--light {
    background: $background-white;
  }

  &.--dark {
    background: $background-cloud-burst;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 10px;
  }

  &__icon {
    display: flex;
    margin: 8px 6px;

    @media (min-width: $breakpoint-tablet) {
      margin-inline: 22px;
    }
  }

  input {
    background: inherit;
    border: none;
    color: $ebony-clay;
    font-family: inherit;
    font-size: 13px;
    text-overflow: ellipsis;
    padding: 10px 0;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      font-size: 18px;
    }

    &::placeholder {
      color: $clr-font-blue;
      padding: 0 10px;
    }
  }

  &__search-btn {
    background: $azure-radiance;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
    min-width: 85px;
    padding: 14px 12px;
    text-align: center;

    &:hover {
      background: $_azure-radiance-hover;
    }

    @media (min-width: $breakpoint-tablet) {
      font-size: 16px;
      margin-left: 10px;
      min-width: 105px;
      padding-inline: 24px;
    }
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
