// Fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$main-font: 'Space Mono', monospace;

//Colors
$background-light: #f6f8ff;
$background-white: #fefefe;
$clr-font-blue: #4b6a9b;
$azure-radiance: #0079ff;
$ebony-clay: #2b3442;
$lynch: #697c9a;

// Media Breakpoints
$breakpoint-phone: 375px;
$breakpoint-tablet: 765px;
$breakpoint-laptop: 1024px;
